<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Cấp quyền để các app khác và hệ thống nhìn thấy Provider -->
    <queries>
        <package android:name="com.duolingo" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Duolingo Regret Hugo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hugo Duolingo Timezone Spoof" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Bắt buộc exported=true, grantUriPermissions=true -->
        <provider
            android:name=".ConfigProvider"
            android:authorities="com.hungnopro.duolingo.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="true" />

    </application>

</manifest>
