<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Khắc phục Package Visibility trên Android 11 -> 16 -->
    <queries>
        <package android:name="com.duolingo" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuolingoRegret">

        <!-- multiprocess="true" cho phép khởi tạo provider ngay trong tiến trình gọi -->
        <provider
            android:name=".HugoProvider"
            android:authorities="com.hungnopro.duolingo.provider"
            android:exported="true"
            android:multiprocess="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Tùy chỉnh múi giờ Duolingo để bảo vệ streak" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>
